<div class="container text-center mt-5">
    <h1>Edit category name</h1>
    <div class="container mt-5">
    <div class="row justify-content-center bg_form rounded shadow my-3">
        <div class="col-10">
        <%= render 'form' %>

    <div class="mb-3">
        <%=link_to '[ Cancel and return to category ]', category_path(@category) , class:"text-white" %>
    </div>
    </div>
</div>