<style type="text/css">

#altfooter {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* footer yüksekliği */
   text-align:center;
}
</style>
<div class="text-light mt-5 py-5 bg-dark" id="altfooter">
    <small>Copyright &copy; Ömer Hodo</small>
</div>